.lambeth-blue {
  color: #212c61;
}
.lambeth-orange {
  color: #faa71c;
}
.green {
  color: greenyellow;
}
.colour{
  color:#ff9900 ;
}
.colour{
  color: #09a9a4;
}
.colour{
  color: #000066;
}
.colour{
  color: #066e6b ;
}
.colour{
  color: #cc0033 ;
}
.colour{
  color: #993399;
}
.colour{
  color: #cccc00;
}
.colour{
  color: #006699;
}
.colour{
  color: #4c2c92;
}
.colour{
  color: #ff6600;
}
.colour{
  color: #08802f;
}
.colour{
  color: #333333;
}